.login-content {
	height: 600rpx;
	margin: 200rpx auto;
	text-align: center;
}

.login-background-image {
	width: 300rpx;
	height: 300rpx;
}

.login-phoneNumber-input {
	width: 600rpx;
	margin-left: 40rpx;
	margin-top: 60rpx;
	font-size: 36rpx;
}

.login-code-input {
	width: 600rpx;
	margin-left: 40rpx;
	margin-top: 60rpx;
	font-size: 36rpx;
}

/deep/ .uni-easyinput__content {
	padding: 0 20rpx;
	height: 100rpx;
	font-size: 36rpx;
}

/deep/ .is-input-border {
	border-radius: 24rpx;
}

.login-btn {
	margin: 60rpx auto;
	width: 600rpx;
	height: 100rpx;
	line-height: 100rpx;
	color: #fff;
	font-size: 36rpx;
	background-color: #aaff7f;
	border-radius: 24rpx;
}

.login-btn-checked {
	margin: 60rpx auto;
	width: 600rpx;
	height: 100rpx;
	line-height: 100rpx;
	color: #fff;
	font-size: 36rpx;
	background-color: rgba(170, 255, 127, 0.5);
	border-radius: 24rpx;
}

.login-code-second {
	/* font-size: 26rpx; */
	height: 100%;
	line-height: 100rpx;
	text-align: center;

}